@page "/Content/Clusters/List"

<TaskWithYou.Client.Pages.Content.Clusters._EditCluster @ref="EditModal" OnClose="OnReflesh"/>

<h3>ClusterList</h3>

@if (CanRender == true)
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>名前</th>
                <th>詳細</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ListItems)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Detail</td>
                        <td>
                            <button type="button" class="btn btn-primary" 
                                    @onclick="@(() => EditModal.OpenEditAsync(item.Gid))">
                                Edit
                            </button>
                        </td>
                    </tr>
                }
        </tbody>
    </table>
}

<div class="row justify-content-end">
    <button class="btn btn-primary" @onclick="@(() => EditModal.OpenAddAsync())">Add</button>
</div>